{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
<div class="Header">
    {% block Header %}
    <h1>Header</h1>
    <a href="{% url 'account:logout' %}"><button>Logout</button></a>
    {% endblock Header %}

</div>

<div class="Menu">
    {% block Menu %}
    <h1>Menu</h1>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn"> Manager
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:create_manager' %}">Manager кошуу</a>
                {% for manager in manager %}
                <a href="{% url 'main:manager' manager.id %}">{{manager.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Mentor
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:create_mentor' %}">Mentor кошуу</a>
                {% for mentor in mentors %}
                <a href="{% url 'main:mentors' mentor.id %}">{{mentor.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Student
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:create_student' %}">Student кошуу</a>
                {% for student in students %}
                <a href="{% url 'main:students' student.id %}">{{student.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</div>

<div class="Content">
    {% block Content %}
    {% endblock Content %}
</div>

<div class="Footer">
    {% block Footer %}
    <h1>Footer</h1>
    {% endblock Footer %}
</div>
</body>
</html>